<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Read</title>
  </head>
  <body>
    <h1>Post</h1>
    <h3><%= @post.name %></h3>
    <p><%= @post.content %></p>
    <br>
    <form action="/posts/<%= @post.id %>/delete" method="post">
      <input type="submit" id="delete" value="delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
    </form>

  </body>
</html>
